---
title: "Ali and Seth"
layout: default
pagination:
enabled: true
description: "Ali and Seth's website"
---

<div class="container">
  <div class="row remove-site-content-margin">
    {% for post in site.posts %}
      <!-- Assign attributes for the first post -->
      {% if forloop.index == 1 %}
        {% assign post_wrapper_class = "col-md-8 offset-md-2" %}
        {% assign image_height = "400px" %}
      {% else %}
        {% assign post_wrapper_class = "col-md-6" %}
        {% assign image_height = "300px" %}
      {% endif %}
      <div class="{{ post_wrapper_class }}">
        <div class="card border-0 mb-5 box-shadow">
          <a href="{{ post.url | relative_url }}">
            <div class="topfirstimage"
              style="background-image: url({% if post.image contains "://" %}{{ post.image }}{% else %} {{ post.image | relative_url }}{% endif %}); height: {{image_height}}; background-size: cover; background-repeat: no-repeat;"></div>
          </a>
          <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
            <h2 class="h4 font-weight-bold mb-0">
              <a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <p class="excerpt">
              {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
            </p>
            <div>
              <small class="d-block text-muted">
                In <span class="catlist">
                  {% for category in post.categories %}
                  <a class="text-capitalize text-muted smoothscroll" href="{{ 'categories.html' | relative_url }}#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                  {% endfor %}
                </span>
              </small>
              <small class="text-muted">
                {{ post.date | date: '%Y-%m-%d' }}
              </small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
